---
layout: default
title: Home
---

<div class="home">
  <h1 class="post-title">
    {{ site.author }}'s Personal Website
  </h1>
  
  <br>
  
  <h3>
    Hi there! Not sure what brought you here. Let me show you around.
  </h3>
  
  <br>
  
  <h3>
    Maybe you want to learn <a href="/about">about me</a>.
  </h3>
  <h3>
    Or maybe you want to <a href="{{ site.social.linkedin }}" target="_blank">hire</a> me.
  </h3>
  <h3>
    Or see some of my <a href="{{ site.social.github }}" target="_blank">projects</a>.
  </h3>
  <h3>
    Or read some stuff I <a href="/blog">wrote</a>.
  </h3>

  <br>
  <br>

  <p>
    In any case, I'm glad you came. For your trouble, here are some pictures of dogs and cats!
  </p>
  
  <center>
    <button class="homepage-button", onclick="randomDogImage()">CLICK FOR DOG</button>
    <br>
    <img style="max-height:300px; height:auto; width:auto;" class="center" src="/img/transparent.png" id="dog-image"/> 
  </center>

  <br>

  <center>
    <button class="homepage-button", onclick="randomCatImage()">CLICK FOR CAT</button>
    <br>
    <img style="max-height:300px; height:auto; width:auto;" class="center" src="/img/transparent.png" id="cat-image"/> 
  </center>

  <script type="text/javascript">
    // TODO: add more images, maybe get to like 30 each
    var numDogImgs = 12;
    var numCatImgs = 7;

    var dogPicIndices = generateRandomIndexArray(numDogImgs);
    var catPicIndices = generateRandomIndexArray(numCatImgs);
    var dogIndex = 0;
    var catIndex = 0;

    // I don't know why this isn't a native function in JavaScript
    function shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }

    function generateRandomIndexArray(num) {
      const randomArray = Array.from({ length: num }, (_, index) => index + 1);
      shuffleArray(randomArray);
      return randomArray;
    }

    function randomDogImage() {
      var pic = document.getElementById("dog-image");
      pic.src = "/img/dogs/" + (dogPicIndices[dogIndex] + 1).toString() + ".jpg";
      dogIndex = (dogIndex + 1) % numDogImgs;
    }
    function randomCatImage() {
      var pic = document.getElementById("cat-image")
      pic.src = "/img/cats/" + (catPicIndices[catIndex] + 1).toString() + ".jpg";
      catIndex = (catIndex + 1) % numCatImgs;
    }
  </script>

</div>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
