/* This is where I put my custom CSS */

.homepage-button {
background-color: #202020; /* black */
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom:25px;
}

a {
  color: #f9ae39;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e0992b;
  background-color: transparent;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  background-color: transparent;
  text-decoration: none;
}