<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include mathjax.html %}

  <body>
    
    {% include sidebar.html %}

    <div class="content container">

        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
            <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
            {{ content }}
        </div>
    </div>

    <!--
    <h3 style="text-align:center; margin-bottom:1em;">
      <a href="/blog/">Blog Archive</a>
    </h3>
    -->
    
  </body>
</html>