<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include latex.html %}

  <body>
    
    {% include sidebar.html %}

    <div class="content container">

        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <!-- <span class="series-date">{{ page.date | date_to_string }}</span> -->
            <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
            {{ content }}
        </div>

        <!-- Adding the ability to move between parts of the series -->
        {% assign sorted_posts = site.posts | where: 'series', page.series | sort: 'part' %}
        {% assign previous_part = page.part | minus: 1 %}
        {% assign next_part = page.part | plus: 1 %}

        {% assign previous_post = false %}
        {% assign next_post = false %}
        {% for post in sorted_posts %}
            {% if post.part == previous_part %}
                {% assign previous_post = post %}
            {% endif %}

            {% if post.part == next_part %}
                {% assign next_post = post %}
            {% endif %}
        {% endfor %}

        <!-- Getting capitalized title for series -->
        {% assign words = page.series | split: '-' %}
        {% capture series_title %}
            {% for word in words %}
                {{ word | capitalize }}
            {% endfor %}
        {% endcapture %}
        
        <!-- Getting url for series, which is just the page url with the last /... removed -->
        {% assign series_url = page.url | split: '/' | reverse | shift | reverse | join: '/' %}

        <div class="pagination" style="margin-top:1em;">
            {% if previous_post %}
                <a class="pagination-item older" href="{{previous_post.url}}">Previous</a>
            {% else %}
                <span class="pagination-item older">Previous</span>
            {% endif %}
            {% if next_post %}
                <a class="pagination-item newer" href="{{next_post.url}}">Next</a>
            {% else %}
                <span class="pagination-item newer">Next</span>
            {% endif %}
        </div>
        <h3 style="text-align:center; margin-bottom:1em;">
            <a href="{{series_url}}">{{ series_title }} Series</a>
        </h3>
    </div>
    
  </body>
</html>